{% extends 'blog/base.html' %} <!-- rozszerzamy szablon o base.html -->

{% block content %}
<!--- pętla za każdy obiekt z listy -->
    <div class="post">
        <!-- sprawdzamy, czy published_date nie jest puste -->
        <!-- jeżeli nie jest to przechodzimy do posta na nowej stronie -->
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %} <!-- Link widoczny tylko dla użytkowników zalogowanych jako admin -->
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="material-icons md-48">create</span></a>
        {% endif %}    
        <h1>>{{post.title}}</h1>
        <p>{{post.text|linebreaksbr}}</p>
    </div>    
{% endblock %}